
.content {
  height: 100%;
  position: relative;
  padding-top: 60px;

  display: flex;
  justify-content: space-between;

  .bg-image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-image: url('../../../assets/background.jpg');
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
}
