
.box-style {
  background-color: #fff;
  min-height: 400px;
  border-radius: 2px;

  > header, > section {
    padding: $large-spacing;
  }

  > header {
    border-bottom: 1px solid $light-grey;
    background-color: #f9f9f9;
  }

}
