
body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  margin: 0;
  color: #181E41;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0;
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
}

label {
  font-weight: 700;
}
